<!doctype html>
<html>
  <head>
    <meta charset="utf-8"/>
    <title>El Melomano</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no" />
    <link rel="shortcut icon" href="/img/disco.png" />
    <link rel="stylesheet" href="css/style.css">
    <script src="https://cdn.tailwindcss.com" defer></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer">
    <script src="https://unpkg.com/vue@3/dist/vue.global.js" defer></script>
    <script type="module" src="js/app.js" defer></script>
  </head>
  <body>
    <div id="app" class="relative h-screen p-2 gap-2 flex items-stretch">
      <aside class="[grid-area:aside] flex-col flex overflow-y-hidden">
        <nav class="flex flex-col flex-1 gap-2">
          <div class="bg-zinc-900 rounded-lg p-2">
            <button 
              v-on:click="changeMode('explore')"
              :class="{'active': mode === 'explore'}" 
              class="flex gap-4 text-zinc-400 hover:text-zinc-100 items-center py-3 px-5 font-medium transition duration-300 "
              ><i class="fa-solid fa-house"></i><span class="hidden sm:inline">Inicio</span>
            </button>
            <button 
              v-on:click="changeMode('search')"
              :class="{'active': mode === 'search'}"
              class="flex gap-4 text-zinc-400 hover:text-zinc-100 items-center py-3 px-5 font-medium transition duration-300"
              ><i class="fa-solid fa-magnifying-glass"></i><span class="hidden sm:inline">Buscar</span>
            </button>
          </div>
          <div class="aside-carrito bg-zinc-900 rounded-lg p-2 flex-1 overflow-y-hidden h-full">
            <h2 class="flex gap-4 text-zinc-400 hover:text-zinc-100 items-center py-3 px-5 font-medium transition duration-300"><i class="fa-solid fa-bookmark"></i><span class="hidden sm:inline">Mis favoritos</span></h2>
            <div class="lista-carrito overflow-y-auto pb-6">
              <favs 
                v-for="(album, index) in favs"
                v-bind:id="album.id"
                v-bind:titulo="album.title"
                v-bind:artista="album.artist"
                v-bind:anio="album.year"
                v-bind:portada="album.cover"
                v-bind:es-favorito="isFav(album.id)"
                v-on:agregar="agregarFavorito(album.id)">
              </favs>
            </div>
          </div>
        </nav>
      </aside>

      <main class="[grid-area:main] rounded-lg bg-zinc-900 overflow-y-auto pb-6">
        <div class="relative z-10 px-6 pt-10">
          <form v-if="mode === 'search'" v-on:submit.prevent="searchAlbum">
            <input class="mb-6 py-2 px-6 rounded-full w-80 bg-transparent border-2 text-white" id="buscar" type="text" v-model="busqueda" placeholder="Ingresa el título del álbum">
          </form>
          <h1 v-if="mode === 'explore'" class="text-xl font-bold text-white">Explorar</h1>
          <h1 v-if="mode === 'search'" class="text-xl font-bold text-white">{{ busqueda ? 'Resultados' : 'Buscados recientemente' }}</h1>
          <h1 v-if="error" class="text-xl font-bold text-white">{{ error }}</h1>
          <div class="flex flex-wrap mt-6 gap-4">
            <albums 
                v-for="album in mode === 'search' ? albums : exploreAlbums"
                v-bind:id="album.id"
                v-bind:titulo="album.title"
                v-bind:artista="album.artist"
                v-bind:anio="album.year"
                v-bind:portada="album.cover"
                v-bind:es-favorito="isFav(album.id)"
                v-on:agregar="agregarFavorito(album.id)">
              </albums>
              <albums 
                v-if="busqueda === '' && mode === 'search'"
                v-for="album in favs"
                v-bind:id="album.id"
                v-bind:titulo="album.title"
                v-bind:artista="album.artist"
                v-bind:anio="album.year"
                v-bind:portada="album.cover"
                v-bind:es-favorito="isFav(album.id)"
                v-on:agregar="agregarFavorito(album.id)">
              </albums>
          </div>
        </div>
        </div>
      </main>
      <footer class="[grid-area:player] min-h-[25px] text-white text-center">
        <p>DV | Progresive Web Applications | Panadero Lucas</p>
      </footer>
    </div>
  </body>
</html>